<footer class="footer">
  <div class="container container_flex container_footer">
    <div class="copy">
      Copyright by Comtruavip 2017
    </div>
    <div class="social-networks">
      {% import "data/data.html" as list %}
      {% for item in list.socialList %}
      <div class="social">
        <a href="#" class="social__link">
          <svg width="{{item.width}}" height="{{item.height}}" viewBox="{{item.viewBox}}">
            <path id="{{item.id}}" class="{{item.class}}" d="{{item.d}}" transform="{{item.transform}}"/>
          </svg>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</footer>
