{% import "partials/_mixins.html" as mixins %}
<div class="top-line">
  <div class="header__logo">
    <a href="/" class="logo">
      <img src="img/logo.png" alt="Logo" class="logo__image">
    </a>
  </div>
  <nav class="nav">
    <div class="nav-mobile">
      <span class="nav-line"></span>
      <span class="nav-line"></span>
      <span class="nav-line"></span>
    </div>
    <ul class="nav__list list">
      {% import "data/data.html" as list %}
        {% for item in list.listNav %}
        <li class="list__item">
          <a href="#" class="list__link">{{item.item}}</a>
        </li>
        {% endfor %}
    </ul>
  </nav>
</div>
